Debug/
.cproject
.deps/
.project
.settings/
Makefile.in
config.log
config.status
src/Makefile
Makefile
src/config.h
src/stamp-h1
autom4te.cache/*
documentation/*.html
*.o
*.exe
*~
aclocal.m4
config/*
configure
src/config.h.in
src/solarpowerlog
*.a
libtool
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
extlibs/dbixx/autom4te.cache/
extlibs/dbixx/config.guess
extlibs/dbixx/config.sub
extlibs/dbixx/depcomp
extlibs/dbixx/install-sh
extlibs/dbixx/libtool
extlibs/dbixx/ltmain.sh
extlibs/dbixx/missing
documentation/doxygen/html
INSTALL
.dirstamp
