<* Part of the game which has to be placed in the header. But only once. *>
<meta http-equiv="expires" content="0"/><script src="http://api.simile-widgets.org/timeplot/1.1/timeplot-api.js" type="text/javascript"></script>