<div class="csvdumper"><H2> CSV Dumper </H2>

<div class="debug">
<h3> Filename: <TMPL_VAR name="CVSDumper::Filename" /> </h3>
<h3> LoggedCapas: </h3><p><TMPL_VAR name="CSVDumpler::LoggedCaps" /></p>
</div>
</div>