Source: solarpowerlog
Section: utils
Priority: optional
Maintainer: Tobias Frost <tobi@coldtobi.de>
Vcs-Browser: http://sourceforge.net/p/solarpowerlog/code/ci/debian/tree/
Vcs-Git: git://solarpowerlog.git.sourceforge.net/gitroot/solarpowerlog/solarpowerlog -b debian
Build-Depends: autoconf,
               automake,
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               dpkg-dev (>=1.16.1~),
               libboost-dev (>=1.48),
               libboost-date-time-dev,
               libboost-program-options-dev,
               libboost-system-dev,
               libboost-thread-dev,
               libboost-atomic-dev,
               libconfig++-dev,
               liblog4cxx10-dev,
               libtool,
               pkg-config
Standards-Version: 3.9.5
Homepage: http://solarpowerlog.coldtobi.de

Package: solarpowerlog
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lsb-base (>= 3.2-14)
Description: photovoltaic data logging
 The program's purpose is to track and log data from photovoltaic inverters,
 collect power data and store them. Also a purpose is to provide an interface
 to extract these data, allowing applications like web site stats of the system.
 .
 Solarpowerlog supports at the moment Solarmax inverters, connected via ethernet
 or serial interface, however it is programmed in a way to easy add support for
 other inverters as well.
 .
 The program supports logging to the console, logging to CVS and writing HTML
 files to be serverd by a web server.
