Source: solarpowerlog
Section: utils
Priority: extra
Maintainer: Tobias Frost <tobi@coldtobi.de>
Build-Depends: autoconf,
               automake,
               autotools-dev,
               debhelper (>= 7),
               libboost-dev,
               libboost-program-options-dev,
               libboost-system-dev,
               libboost-thread-dev,
               libconfig++8-dev,
               libdbi-dev,
               liblog4cxx10-dev,
               libtool,
               pkg-config
Standards-Version: 3.9.2
Homepage: http://solarpowerlog.coldtobi.de

Package: solarpowerlog
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: logging photovoltaic data
 The program's purpose is to track and log data from photo-voltaic inverters,
 collect power data and store them. Also a purpose is to provide an interface
 to extract these data, allowing applications like web site stats of the system.
 .
 Solarpowerlog supports at the moment Solarmax inverters, connected via ethernet
 or serial interface, however it is programmed in a way to easy add support for
 other inverters as well
 .
 The program supports logging to the console, logging to CVS and writing HTML
 files to be serverd by a web server.
