@charset "utf-8";

* {
margin: 0;
padding: 0;
font-family:Arial, Helvetica, sans-serif;
}

html {
    overflow: auto;
    max-height: 100%;
}

body {
    background-color: #000;
    color: #fff0e0;   
    margin: 0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

#page {
    width:98%;
    margin-left: 1em;
    margin-right: 1em;      
}

/* the header of the page. */
#header {
    background-color: #000;
    color: #afa0e0;
    text-align:left;
    font-size:90%;
    padding: 1em 0em 0em 0em;
    clear:both;
}

#header a:link {
    color: #afa0e0;
}

#header a:visited {
    color: #483d8b;
}


/* this is the clearfix for the header, so that the floats
are cleaned. Also paints the line below the header */
#header:after
{
    content: " ";
    display: block;
    height: 0;
    clear: both;
    padding-top: 0.2em;
    padding-bottom: 0;
    margin: 0;
    --border-bottom-width: thin; 
    --border-bottom-style: solid; 
}

/* solarpowerlog is free software -- to the right please. */
.FLOSS {
    float:right;
    text-align:right;
    font-size:xx-small; 
}

/* paragraphs in the header */
#header p {
    font-size:75%;
    margin-left: 1em;
}

/* main content div */
#content {
     background-color: #00001a;
    /*background-color:red;*/
    padding-top: 1px;
    min-height: 1em;
    width:99%;
    border-top: 1px solid #afa0e0;
}


#mainarea {
 
}
    
#content:after {
    content: " ";
    visibility:hidden;
    display: block;
    height: 0;
    clear: both;
}   

/* the coloumn on the left */
#leftcolumn {
    border-right: thin solid #afa0e0;
    float:left;
    width: 15em;
    overflow:auto;
    margin-right:0.5em;
    padding-top: 0.5em;
}

table.bid_table {
    border-width: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-style: none none none none;
    border-color: gray gray gray gray;
    border-collapse: collapse;
}

table.bid_table th {
    border: thin dotted black;
   background-color: #483d8b;
   color:white;    
 }
table.bid_table td {
    padding: 0 0 0 0.1em;

    border: thin dotted black;
}

table.bid_table tr:hover {
    color: #fff;
    padding: 1px 1px 1px 1px;
}

table.bid_table tr {
   background-color: #4b70b2; 
   color: #9f91cc;
   padding: 1px 1px 1px 1px;
}

.bid_table {
    width:98%;  
}

.bid_cv {
    visibility: hidden;
    height: 5px;
}

.bid_name 
{
    font-size: 120%;
}

.bid_model {
    font-size: small;   
    max-width: 15em;
}
   
.debug {
    visibility: hidden;
    height: 0px;
}

#csvtimeplot {
   background-color: #f8f8ff;
   height: 450px;
}

.bid_maindiv {
}


.csvdumper {
}

#csvtimeplot {
    color: black;
    height:400px;
    clear:right;
    }

.csv_filename {
    font-size: 10px;
    height:24px;
    float:right;
    }
        
.csv_capas {
    visibility: hidden;
    height: 0px;
}
.csv_header
{
    visibility: hidden;
    height: 0px;
}

.csv_name 
{
    font-weight:bolder;
    float:left;
    padding-right: 1em;
}

.csv_model 
{float:left;
    font-weight:normal;
}
